<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Diplomes et Formations:</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <h5>2021 - 2024</h5>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Diplome ingénieur d'état en génie informatique</div>
               <h4>Faculté des sciences et techniques Settat</h4>
               <ul>
                <li> Mention: <b>Bien </b> </li>     
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <h5>2019 - 2021</h5>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Deust en mathématiques, informatiques et physiques</div>
               <h4 >Faculté des sciences et techniques Settat </h4>
               <ul>
                <li> Mention: <b> Bien </b> </li> 
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <h5>2018 - 2019</h5>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Baccalauréat en sciences physiques</div>
               <h4>Lycée Al Amal Settat</h4>
               <ul>
                <li> Mention: <b> Très Bien </b> </li> 
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>